@import "tailwindcss";


input, select {
    border: 1px solid gray;
    padding: 4px 6px;
    border-radius: 4px;
    margin: 4px;
}

button {
    padding: 4px 6px;
    background-color: lightblue;
    border-radius: 4px;
}